<div class="container">
  <div class="row d-flex justify-content-between mt-3">
    <button
      type="button"
      class="btn btn-primary col-4"
      (click)="addSignFormRequest()"
    >
      Add form
    </button>
    <div class="col-4">test filename</div>
  </div>

  <div style="text-align: center" class="mt-2">
    <canvas #myCanvas></canvas>
  </div>
  <hr />
  <div style="text-align: center" class="mt-2">
    <!--  <ngx-extended-pdf-viewer
      [src]="base64Image"
      [useBrowserLocale]="true"
      [textLayer]="true"
      [showHandToolButton]="true"
      [showPresentationModeButton]="true"
      [showDownloadButton]="false"
    ></ngx-extended-pdf-viewer> -->
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
      style="width: 400px; height: 500px"
    ></pdf-viewer>
  </div>

</div>
